body {
  background-color: #0b0b0b;
  color: #d6d6d6;
  font-family: monospace;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  margin: 0;
}

#container {
  text-align: center;
}

h1 {
  color: red;
}

input {
  background: black;
  color: lime;
  border: 1px solid red;
  padding: 6px;
}

button {
  background: black;
  color: white;
  border: 1px solid red;
  padding: 6px;
  margin-top: 5px;
}

#resultado {
  margin-top: 10px;
}

a {
  color: red;
}
