body {
  background-color: #0b0b0b;
  color: #d6d6d6;
  font-family: monospace;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  margin: 0;
}

/* CONTAINER CENTRAL */
#container {
  text-align: center;
  width: 90%;
  max-width: 400px;
}

/* TÍTULO */
h1 {
  color: red;
  font-size: 28px;
  margin-bottom: 15px;
}

/* TEXTO */
p {
  font-size: 18px;
}

/* INPUT */
input {
  background: black;
  color: lime;
  border: 2px solid red;
  padding: 12px;
  font-size: 18px;
  width: 100%;
  box-sizing: border-box;
}

/* BOTÃO */
button {
  background: black;
  color: white;
  border: 2px solid red;
  padding: 12px;
  font-size: 18px;
  width: 100%;
  margin-top: 10px;
}

/* RESULTADO */
#resultado {
  margin-top: 15px;
  font-size: 18px;
}

/* LINKS */
a {
  color: red;
  font-size: 18px;
  }
